/****************************************************************************************
************************** TABLE OF CONTENTS **********************************/
/****************************************************************************************

  1. FONTS
  2. GLOBAL
  3. INDEX
  4. CATALOG
  5. QUOTES/SBS
  6. MAIL MERGE
  7. BASKET VIEW
  8. Delivery Methods
  9. SHIPPING
  10. BILLING
  11. REVIEW
  12. ACCEPT
  13. ANIMATIONS

/****************************************************************************************
************************************ 1. FONTS ****************************************
****************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krub&display=swap');


/* Start Custom Fonts CSS */

@font-face { 
	font-family: 'Everett';  
	src: url('https://resilience.com/hubfs/resilience-custom-fonts/TWKEverett-Regular-web.woff2') format('woff2');
	font-weight: 400;
}
@font-face { 
	font-family: 'Everett';  
	src: url('https://resilience.com/hubfs/resilience-custom-fonts/TWKEverett-Medium-web.woff2') format('woff2');
	font-weight: 500;
}
@font-face { 
	font-family: 'Everett';  
	src: url('https://resilience.com/hubfs/resilience-custom-fonts/TWKEverett-Bold-web.woff2') format('woff2');
	font-weight: 600;
}
@font-face { 
	font-family: 'Everett Mono';  
	src: url('https://resilience.com/hubfs/resilience-custom-fonts/TWKEverettMono-Bold-web.woff2') format('woff2');
	font-weight: 700;
}
/* End Custom Fonts CSS */


body {
	font-family: "Everett", Sans-serif !important;
	line-height: 150%;
}

.note {
	font-family: "Everett", Sans-serif !important;
	line-height: 150%;
}
.pagetitle {
	font-family: "Everett", Sans-serif !important;
}
.form-body td.label {
	font-family: "Everett", Sans-serif !important;
	line-height: 160%;
}
.form-body td, .tabular td {
	font-family: "Everett", Sans-serif !important;
	line-height: 150%;
}
button {
	font-family: "Everett", Sans-serif !important;
}
input {
	font-family: "Everett", Sans-serif !important;
}
.footnote {
	font-family: "Everett", Sans-serif !important;
}
.pageinstructions {
	font-family: "Everett", Sans-serif !important;
	line-height: 160%;
}
.form-body th, .tabular th, .form-body div.title, .form-body div.title > h1 {
	font-family: "Everett", Sans-serif !important;
}
select {
	font-family: "Everett", Sans-serif !important;
}
.image-container img {
	width: auto;
	height: auto;
	max-width: 230px;
	max-height: max-content;
}
span.qtyspec_label.qtyspec_display_label {
    display: none;
}
table#shipping-pricetable {
	display: none;
}
button#button_updateshipping {
	display: none;
}
a.button {
	color: white !important;
	text-decoration: none !important;
	text-decoration-line: none !important;
}
a.button:hover {
	text-decoration: none !important;
	text-decoration-line: none !important;
}

td.corp-cell button {
     min-width: 250px;
}

/************************************************************************/


	/****************************************************************************************
	************************************ 2. GLOBAL ****************************************
	****************************************************************************************/
	/* links (max-width: 1920px) and  */
@media only screen and (min-width:1921px) {
	body {
		background-size: contain !important;
	}
}

@media only screen and (min-width: 1025px) {
	
	a {
		color: #2C2C29;
	}

	.header-links {
		font-size: inherit;
		text-align: right;
		color: white;
		width: 100%;
	}

	a:hover {
		color: #333333;
		text-decoration-line: underline !important;
		
	}

	.previewcell pre { 
	  display: none; 
	}

	.main .buttonsbar button {
	  margin-bottom: 20px;
	 }

	h2.pagetitle, .pagetitle {
	  font-size: 16px;
	  color: #333;
	  font-weight: bold;
	  text-shadow: none;
	}

	.header-links {
	  text-decoration: none;
	  white-space: nowrap;
	}

	.header-links a {
	  text-decoration: none;
	  
	}

	.footer .middle-row td {
		padding: 20px 20px;
	}

	/*---- CUSTOM BUTTON ---- */
	button#submit_catalog_add {
		width: 50%;
	}
	
	button {
	 cursor: pointer;
	 letter-spacing: 1px;
	 text-transform: uppercase;
	}

	.fa-shopping-basket:before {
		content: "\f07a";
	}

	.main {
	  animation: fadeIn ease 1s;
	  -webkit-animation: fadeIn ease 1s;
	  -moz-animation: fadeIn ease 1s;
	  -o-animation: fadeIn ease 1s;
	  -ms-animation: fadeIn ease 1s;
	}

	.message-block, .message-block .left, .pageinstructions {
			text-align: center !important;
	}

	.req_fld {
			color: red;
	}

	/*** Max width on all pages except the Division / Catalog pages ***/
	.shipping, .billing, .review, .done, .customer-service, .profile, .basket-view, .view-order, .shiptrack_view2, .waitingorders {
			max-width: 800px !important;
			margin: 20px auto 0 !important;
	}
	.container, body {
		margin-top: 40px !important;
	}
	
	body {
		background-image: url(../img/headerbar.png);
		background-size: unset;
		background-position-y: -105px;
	}

	body #header-wrapper.scrolled #header-welcome-msg {
		right: 8.5%;
	}

	body #header-wrapper.scrolled .profileCircle {
		height: 35px;
		width: 35px;
	}

	body #header-wrapper.unscrolled {
		left: 0;
		padding: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
	}

	body #header-wrapper.scrolled {
		background: rgba(12, 35, 54, 1);
		height: 85px;
		color: white;
		transition: 0.6s;
		z-index: 99;
	}

	body #header-wrapper.scrolled:focus, body #header-wrapper.scrolled:hover {
		opacity: 1;
	}

	body #header-wrapper.scrolled #desktoplogo {
		filter: brightness(0) invert(1);
		transition: 0.3s;
		width: 80%;
	}

	body #header-wrapper.scrolled #header-welcome-msg {
		top: 0;
	}

	body #header-wrapper.scrolled #header-links-container a {
		color: white;
	}

	body #header-wrapper.scrolled .headerSearchBar div.item-search-block {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 3px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-top: 10px;
	}

	body #header-wrapper.scrolled .headerSearchBar div.item-search-block:focus, body #header-wrapper.scrolled .headerSearchBar div.item-search-block:hover {
		background: rgba(255, 255, 255, 1);
		border-bottom: 1px solid rgba(255, 255, 255, 1);
	}

	body #header-wrapper.scrolled .headerSearchBar div.item-search-block button {
		background: rgba(255, 255, 255, 0.9);
		padding: 8px 4px 8px 9px;
		margin-top: 1px;
		top: 12px;
	}

	body #header-wrapper.scrolled div.item-search-block input#searchfield_input {
		background: transparent;
		height: 25px;
	}

	body #header-wrapper.scrolled div.item-search-block input#searchfield_input:focus, body #header-wrapper.scrolled div.item-search-block input#searchfield_input:hover {
		background: white;
	}

	body .footer .backtotop.unscrolled {
		opacity: 0;
		pointer-events: none;
		transition: 0.4s;
	}

	body .footer .backtotop.scrolled {
		opacity: 1;
		pointer-events: auto;
		transition: 0.5s;
	}

	.footer .middle-row {
		margin: 10px 0px !important;
	}

	/****************************************************************************************
	*********************************** 3. INDEX *****************************************
	****************************************************************************************/

	.login {
		text-align: center;
	}

	.index-container {
	  margin: 20px 20px;
	  padding-bottom: 20px;
	  font-size: 14px;
	}


	/****************************************************************************************
	********************************** 4. CATALOG **************************************
	****************************************************************************************/
	.responsive-choose-info {
	  display: contents !important;
	}

	.select-items .vertical-shell {
	  margin-left: 10px!important;
	}

	.select-items .image-container img {
	  margin: 20px 0;
	}

	.select-items .longname *, .select-items .longname *{
	  font-size: 14px;
	}

	.select-items .pagetitle {
	  margin-left: 10px!important;
	}

	.select-items .buttonsbar button {
	  margin-bottom: 20px;
	}

	.stretchy_cols {
		max-height: 525px !important;
		color: #000000;
	}

	#submit_catalog_add {
	  margin-top: 5px;
	}

	#copy4 {
	  display: none;
	}

	.bundle_subitem_preview img {
	  border: 1px solid gray;
	}

	.qtyspec_label {
	  margin-left: 5px;
	}

	#all_items_view {
		padding-top: 20px !important;
	}

	.select-items .pageinstructions, .error {
		text-align: center;
		background: #f1f1f1;
		width: 50%;
		margin: 0 auto;
		padding: 10px 0px;
	}

	.imprint .error {
		background: #f1f1f1;
		width: 100%;
		padding: 10px 0px;
		position: relative;
		left: 0;
		margin-top: 20px;
	}

	.catalog #upper_buttons {
		position: relative;
		right: 5%;
	}

	.select-items .pageinstructions {
		-webkit-animation: cssAnimation 8s forwards; 
		animation: cssAnimation 8s forwards;
	}
	@keyframes cssAnimation {
		0%   {opacity: 1;}
		90%  {opacity: 1;}
		100% {opacity: 0;}
	}
	@-webkit-keyframes cssAnimation {
		0%   {opacity: 1;}
		90%  {opacity: 1;}
		100% {opacity: 0;}
	}

	.responsive_tabs .opened:before, .responsive_tabs .closed:before {
		float: right;
		position: absolute;
		left: 200px;
	}

	.responsive-longname {
		font-weight: bold;
		text-transform: uppercase;
	}

	.responsive_tabs .closed:before {
		content: "\f0d9" !important;
	}

	.responsive_tabs .opened:before, .responsive_tabs .closed:before {
		margin-top: 6px;
	}

	.responsive_tabs .opened a, .responsive_tabs .closed a, .responsive_tabs div.off a, .responsive_tabs div.on a, .responsive_tabs .opened:before, .responsive_tabs .closed:before {
		text-transform: uppercase;
		display: block;
	}

	.qtyspec_label {
		margin-left: 5px !important;
	}

	.item-search-block {
		margin-left: 25px !important;
		margin-bottom: 25px !important;
		width: 220px;
		white-space: nowrap;
	}

	.responsive_tabs-shell .after {
		margin-top: 20px !important;
	}

	#basket-list-title {
			text-align: center;
			font-size: 20px;
			margin-bottom: 10px;
	}

	.basket-list-item {
			margin-bottom: 10px !important;
			white-space: nowrap;		
	}

	.basket-list-item .button {
			padding: 1px 1px 1px 5px !important;
	}

	#basket_button_container {
			text-align: center;
	}

	.select-items {
		/*margin-top: 30px;*/
	}

	/* BUNDLE */
	.detail_text_wrapper {
		width: 29%  !important;
	}

	.detail_tagcheck_wrapper {
		width: 32% !important;
		margin-top: 0px !important;
	}

	.bundle-qty-selection {
		position: inherit !important;
	}

	.bundle-qty-selection .add-to-basket-qty-select {
		text-align: center;
		padding-top: 20px;
	}

	.multi_preview a {
		margin-right:5px;
	}

	.multi_preview a img {
		margin-bottom: 5px;
	}

	.bundle_subitem td {
		display: table-cell !important;
	}

	.bundle_subitem_longname {
		margin-bottom: 6px !important;
		font-weight: bold;
		font-size: 15px;
		margin-left: 25px !important;
	}

	#d_tag_check input[type="text"] {
		border-radius: 5px !important;
		text-align: center;
		padding: 5px;
		border-style: groove;
		font-weight: bold;
		width: 100px !important;
	}

	.bundle_subitem_input {
		position: relative;
		top: -4px;
		float: left;
	}

	/****************************************************************************************
	**********************************  5. QUOTES/SBS *********************************
	****************************************************************************************/

	.leftSideFieldContainer .title {
		background: #ccc !important;
		border-radius: 0 !important;
		margin-bottom: 15px !important;
	}

	.leftSideFieldContainer .title h1 {
		font-size: 18px !important;
	}

	.leftSideFieldContainer .title .form-subheader {
		font-size: 14px !important;
		padding: 0px 6px 6px !important;
	}

	div.field-container div.input select {
		margin: 0px !important;
		max-width: 100% !important;
	}

	.buttonsbar, .form-body {
	  border-radius: 0px !important;
	}

	#estimate-item-container {
	  padding: 20px 0;
	}

	.submit.center button {
	  margin-bottom: 20px!important;
	}

	#all_options, #all_options_container {
	  border: none !important;
	}

	.fileSpec {
	  position: relative;
	  left: 10px;
	}

	.form-subheader {
	  text-align: left !important;
	  padding: 0px !important;
	}

	#approval_checkbox_group input *{
	  width: 100px;
	  height: auto;
	}

	.uploadIcon {
	  margin-top: 5px !important;
	}

	div#confirm_container button{
	  margin-top: 20px!important;
	}

	.checkbox-table {
	  margin-left: 0!important;
	}

	.imprint  div.field-container {
		border-bottom: 0px !important;
	}

	/****************************************************************************************
	*****************************  6. MAIL MERGE **************************************
	****************************************************************************************/

	.mail-merge header {
	  margin-left: 25px;
	}

	.mail-merge nav.submit {
	  padding-bottom: 30px!important;
	}

	#listimp-s3-section-5 div {
	  margin-left: 25px;
	}

	div.error {
	  margin-bottom: 10px;
	}

	#ml-handle-link {
	  margin-left: 25px;
	}

	.personal-list-actions {
	  text-align: center!important;
	}

	form[name='clientlist'] div:last-child {
	  padding: 20px 20px!important;
	}

	/***************************************************************************************
	*****************************  7. BASKET VIEW  ************************************
	****************************************************************************************/

	.basket-view td.previewcell {
	  background-color: transparent!important;
	}

	.basket-view .buttonsbar button {
	  margin-bottom: 20px;
	}

	table:not(.items-table) {
	  width: auto;
	  margin: 0 auto;
	}

	/***************************************************************************************
	******************************  8. Delivery Methods  ********************************
	****************************************************************************************/

	tr.dpt--headerRow, tr.dpt--headerRow span, tr.dpt--headerRow *, tr.item_row * {
	  font-size: 14px !important;
	}

	#i-dropship {
	  position: relative;
	  font-size: 14px;
	  color: #00000A;
	  /*font-family: "Lucida Sans", "Trebuchet MS", "Arial";*/
	  font-family: "Everett Mono", Sans-serif !important;
	  text-align: center;
	  vertical-align: middle;
	  text-decoration: none;
	  font-weight: normal;
	  padding: 4px 10px 4px 10px;
	  border: 1px solid #CCCCCC;
	  -moz-border-radius: 0em;
	  -webkit-border-radius: 0em;
	  border-radius: 0em;
	  background: #FFFFFF;
	  background: linear-gradient(#FFFFFF, #CCCCCC);
	  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	  background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
	  background: -ms-linear-gradient(#FFFFFF, #CCCCCC);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
	  -pie-background: linear-gradient(#FFFFFF, #CCCCCC);
	  position: relative;
	  behavior: url(/hub/css/PIE.htc);
	}

	.mail-merge .buttonsbar,
	.mail-merge .buttonsbar a,
	.mail-merge .buttonsbar a:link,
	.mail-merge .buttonsbar * {
	  text-decoration: none!important;
	  text-align: center!important;
	}

	.mail-merge .buttonsbar {
	  margin-bottom: 10px;
	}

	tr.dpt--finalizeRow td.dpt--status{
	  border-bottom: 0px!important
	}

	/***************************************************************************************
	********************************  9. SHIPPING  **************************************
	****************************************************************************************/

	.mail-merge .pagetitle{
	  margin-left: 15px!important;
	}

	#see_shipping_methods{
	  position: relative;
	  font-size: 14px;
	  color: #00000A;
	  /*font-family: "Lucida Sans", "Trebuchet MS", "Arial";*/
	  font-family: "Everett Mono", Sans-serif !important;
	  text-align: center;
	  vertical-align: middle;
	  text-decoration: none;
	  font-weight: normal;
	  padding: 4px 10px 4px 10px;
	  border: 1px solid #CCCCCC;
	  -moz-border-radius: 0em;
	  -webkit-border-radius: 0em;
	  border-radius: 0em;
	  background: #FFFFFF;
	  background: linear-gradient(#FFFFFF, #CCCCCC);
	  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	  background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
	  background: -ms-linear-gradient(#FFFFFF, #CCCCCC);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
	  -pie-background: linear-gradient(#FFFFFF, #CCCCCC);
	  position: relative;
	  behavior: url(/hub/css/PIE.htc);
	  max-width: 150px;
	  text-shadow: none!important;
	}

	.mail-merge .field-note{
	  display: none!important; /*can't do much better without source change*/
	}

	.mail-merge #throbber {
	  margin-bottom: 20px!important;
	}

	.mail-merge .field-container *{
	  color: #333333!important;
	}

	label[for="comments"] {
	  position: relative;
	  bottom: 12px;
	}

	.shipping .form-body {
	  width: 80%;
	}

	form[action="shiptrack.cgi"] {
	  padding-bottom: 25px!important;
	}

	/***************************************************************************************
	************************************  10. BILLING  ***********************************
	****************************************************************************************/

	.billing .pagetitle{
	  margin-left: 15px!important;
	}

	.billing .buttonsbar button{
	  margin-bottom: 20px;
	}

	.billing *{
	  font-size: 14px!important;
	}

	.billing .form-body {
	  width: 740px;
	  margin-top: 0;
		margin-bottom: 20px !important;
	}

	/***************************************************************************************
	*********************************  11. REVIEW  **************************************
	****************************************************************************************/

	.review .buttonsbar button{
	  margin-bottom: 20px;
	}

	.review .pageinstructions {
	  font-size: 14px;
	}

	.review *{
	  font-size: 14px!important;
	}

	.review td.data {
	  background-color: #eeeeee;
	}

	.review div {
	margin: 0 10px;
	}

	.pagetitle {
	  margin-left: 10px;
	  text-align: center;
	}

	.main p {
	  margin-left: 10px;
	}

	.accept-proofs table{
	  width: 80%;
	  margin-bottom: 20px;
	}

	/***************************************************************************************
	**********************************  12. ACCEPT  ************************************
	****************************************************************************************/
	.done div *{
	  font-size: 14px;
	}

	.done td.data{
			background-color: #eeeeee;
	}

	.done .accept-proofs .form-body{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 30px;
			width: 80%;
	}

	.done div {
			margin: 0 10px;
	}

	.accept-showneworderbutton {
			margin: 20px auto !important;
	}

	.catalog--container .pagetitle {
			margin-top: 10px!important;
	}

	.accept-proofs  b{
			margin-left: 20px;
			margin-top: 10px;
			line-height: 30px;
	}

	.previewcell a span {
		position: relative;
		font-size: 14px;
		color: #00000A;
		/*font-family: "Lucida Sans", "Trebuchet MS", "Arial";*/
		font-family: "Everett Mono", Sans-serif !important;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		font-weight: normal;
		padding: 4px 10px 4px 10px;
		border: 1px solid #CCCCCC;
		-moz-border-radius: 0em;
		-webkit-border-radius: 0em;
		border-radius: 0em;
		background: #FFFFFF;
		background: linear-gradient(#FFFFFF, #CCCCCC);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
		background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
		background: -ms-linear-gradient(#FFFFFF, #CCCCCC);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
		-pie-background: linear-gradient(#FFFFFF, #CCCCCC);
		position: relative;
		behavior: url(/hub/css/PIE.htc);
		margin: 5px 20px;
	}

	.previewcell img {
		border: 0px solid black !important;
		max-width: 230px !important;
	}

	.previewcell a {
	  text-decoration: none;
	  margin: 0px auto;
	  line-height: 50px;
	  text-align: center;
	}

	.previewcell *{
	  text-align: center!important;
	}


	/*************************************************************************************
	**********************************  13. ANIMATIONS  *****************************
	**************************************************************************************/
	@keyframes fadeIn {
	  0% {opacity:0;}
	  100% {opacity:1;}
	}

	@-moz-keyframes fadeIn {
	  0% {opacity:0;}
	  100% {opacity:1;}
	}

	@-webkit-keyframes fadeIn {
	  0% {opacity:0;}
	  100% {opacity:1;}
	}

	@-o-keyframes fadeIn {
	  0% {opacity:0;}
	  100% {opacity:1;}
	}

	@-ms-keyframes fadeIn {
	  0% {opacity:0;}
	  100% {opacity:1;}
	}

	@-webkit-keyframes AdminAnimation {
	 0% {
	  background-position: 0% 50%
	 }

	 50% {
	  background-position: 100% 50%
	 }

	 100% {
	  background-position: 0% 50%
	 }
	}

	@-moz-keyframes AdminAnimation {
	 0% {
	  background-position: 0% 50%
	 }

	 50% {
	  background-position: 100% 50%
	 }

	 100% {
	  background-position: 0% 50%
	 }
	}

	@keyframes AdminAnimation {
	 0% {
	  background-position: 0% 50%
	 }

	 50% {
	  background-position: 100% 50%
	 }

	 100% {
	  background-position: 0% 50%
	 }
	}

	@-webkit-keyframes AdminAdnimationhover {
	 0% {
	  background-position: 100% 50%
	 }

	 50% {
	  background-position: 0% 50%
	 }

	 100% {
	  background-position: 100% 50%
	 }
	}

	@-moz-keyframes AdminAdnimationhover {
	 0% {
	  background-position: 100% 50%
	 }

	 50% {
	  background-position: 0% 50%
	 }

	 100% {
	  background-position: 100% 50%
	 }
	}

	@keyframes AdminAdnimationhover {
	 0% {
	  background-position: 100% 50%
	 }

	 50% {
	  background-position: 0% 50%
	 }

	 100% {
	  background-position: 100% 50%
	 }
	}

	#header-wrapper {
		/*border-bottom: 8px solid #000000;*/ /* Replace this colour with the primary branding colour of the client */
	}

	#header_logo {
		padding: 65px 0;
	}

	#header_logo > img.no_mobile {
		position: absolute;
		top: 38px;
		left: 35px;
		height: 50px;
		width: auto;
	}
	
	#header_logo > a img.no_mobile {
		position: absolute;
		top: 38px;
		left: 35px;
		height: 50px;
		width: auto;
	}
	
	#header_logo > div a img.no_mobile {
		position: absolute;
		top: 38px;
		left: 35px;
		height: 50px;
		width: auto;
	}

	#header-links-container {
		position: absolute;
		top: 30px;
		/*right: 60px;*/
		text-transform: uppercase;
	}

	.header-links a {
		display: inline-block;
		margin: -3px 15px;
		padding: 5px;
		color: white;
	}

	.header-links a:hover {
		padding: 5px;
	}

	#logout_userid {
		padding-left: 38px;
		padding-right: 60px;
	}

	#footer\2e footercanceltext {
		padding-right: 15px;
	}

	.item-search-block {
		border-bottom: 4px solid #2C2C29; /* Replace this colour with the same as above, or with the client's secondary branding colour if they have one */
		padding-bottom: 8px;
	}

	#curr_item_longinfo {
		padding: 1rem 7rem;
		text-align: center;
	}

	.responsive-choose-info {
		display: block !important;
		max-height: 100rem !important;
		overflow: visible !important;
	}

	.stretchy_cols.responsive-item.image-row {
		overflow: visible !important;
		vertical-align: baseline;
	}

	div.form-body div.title {
	  display: none;
	}

	td.left-side div.form-body {
		margin-bottom: 0 !important;
	}
/******** Dropdown menu************/
	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown {
		position: relative;
		display: inline-block;
		padding-top: 13px;
	}
	
	.dropicon {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		top: 35px;
		left: -103px;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
		z-index: 1;
	}

	.dropdown-content a {
	  color: #333333;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  white-space: nowrap;
	}

	.dropdown-content a:hover {
		/*background-color: #f1f1f1;*/
		padding: 12px 16px;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	}

	/*#dropicon:hover .dropdown-content {
	  display: block;
	}*/

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}
/****************************************************/
	.responsive_tabs-shell .responsive_tabs {
		width: 100% !important;
		margin-top: 25px !important;
	}

	#all_items_view {
		padding-top: 0px !important;
	}

	.main-section {
		margin-top: -60px !important;
	}

	.catalog #upper_buttons {
		/*margin: -20px !important;*/
		text-align: right !important;
	}

	.fa-shopping-basket {
		font-size: 25px !important;
		color: white;
	}
/*******************************************************/
	button#submit_cancel {
		display: none;
		right: 3%;
	}
	
	.the_actual_qty_select input[type="text"] {
		margin: 1px auto;
		min-width: 50px;
		display: inline-block;
		min-height: 30px;
		max-width: 50px;
	}
	.add-to-basket-qty-select input[type="text"] {
		margin: 1px auto;
		min-width: 50px;
		display: inline-block;
		min-height: 30px;
		max-width: 50px;
	}
	.the_actual_qty_select select, .add-to-basket-qty-select select {
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;
		min-width: 58px;
		display: inline-block;
		min-height: 36px;
	}
	input#passwd, input#userid {
		padding: 5px;
	}
	a.no_mobile:hover {
		text-decoration: none !important;
	}
	.height-adjuster {
		margin-top: 0px !important;
	}
	
	td.toptabs {
		padding-left: 40px;
		padding-top: 15px;
	}
	
	.toptabs a {
		color: white !important;
		display: inline-block;
		white-space: nowrap;
		text-decoration: none;
	}
	
	/*.toptabs a:hover {
		border-bottom: 1px solid white;
	}*/
	
	div#all_items_view {
		width: 97% !important;
	}
	div.responsive_tabs-shell {
		display: none;
	}
	td#space {
		min-width: 50px;
	}
	.top_blurb {
		text-align: center;
		white-space: nowrap;
		color: white;
		margin-top: -20px;
		/*font-weight: bold;*/
		font-size: 12px;
		letter-spacing: 1px;
	}
	/*td.cart_item {
		display: inline-block;
		vertical-align: top;
	}*/
	td.cart_item {
		display: inline-block;
		vertical-align: top;
		max-width: 25%;
		margin: 5px;
	}
	
	.main.basket-view.catalog--container {
		max-width: 75% !important;
	}
	table.items-table.true-table {
		max-width: 45%;
	}
	.full:has(.budgetlbl) {
		position: absolute;
		color: white;
		margin-top: -85px;
		width: 100%;
		text-align: right;
		margin-left: -60px;
	}
	div#final-buttonsbar {
		margin-top: 0px;
	}
	.message-block {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		/* text-align: left; */
	}
	
	/*.responsive-choose-info.wnote {
		text-align: left !important;
		font-size: 11px !important;
		min-height: 250px !important;
	}*/

	form {
		height: -webkit-fill-available !important;
	}

	.main.catalog--container {
		min-height: 600px;
	}

}

@media only screen and (max-width: 1024px) {
	#header_logo img {
		width: auto;
		max-width: 50vw;
		height: auto;
		max-height: 25vw;
	}
	img.no_desktop {
		margin-top: 2%;
	}
	/*div#d_price_html {
		display: none;
	}*/
	[type='submit'], [type='button'] {
		border-radius: 0;
	}
	img.img-fluid.mt-3 {
		display: none;
	}
	.footer_row3 {
		margin-top: 300px;
	}
	.previewcell img {
		border: 0px solid black !important;
		max-width: 100% !important;
	}
	.top_blurb {
		text-align: center;
		white-space: nowrap;
		color: #333;
		font-weight: bold;
		font-size: 19px;
	}
}